{% extends 'accounts/base.html' %}

{% block content %}

<section class="d-flex flex-column justify-content-center">

    <div class="card m-3">

        <p class="card-header bg-primary text-light"> <b>Customer</b> </p>

        <div class="card-body ">

            <h3> {{ customer.name }} </h3>

            <hr>

            <button class="btn btn-primary w-100"> Update Customer </button>

            <button class="btn btn-danger w-100 my-3"> Delete Customer </button>

        </div>

    </div>


    <div class="card m-3">

        <p class="card-header bg-primary text-light"> <b>Contact Information</b> </p>

        <div class="card-body ">

            <p> <u>Email</u> <br> {{ customer.email }} </p>
            <p> <u>Phone</u> <br> {{ customer.phone }} </p>

        </div>

    </div>


    <div class="card m-3">

        <p class="card-header bg-primary text-light"> <b>Total Orders</b> </p>

        <div class="card-body text-center">

            <h3> {{ orders | length }} </h3>

        </div>

    </div>

</section>

<section class="card m-3">


    <div class="card-body">
        <button class="btn btn-primary"> Search </button>
    </div>


</section>

<section class="card m-3">

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.product.category}}</td>
                    <td>{{order.product.date_created}}</td>
                    <td>{{order.status}}</td>
                    <td><a href="{% url 'order_update' order.id %}" class="btn btn-sm btn-primary">Update</a></td>
                    <td><a href="{% url 'order_delete' order.id %}" class="btn btn-sm btn-danger">Remove</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>




</section>

{% endblock content %}