{% extends 'accounts/base.html' %}

{% block content %}


<section class="d-flex flex-row justify-content-center">

    <div class="card m-3">

        <p class="card-header bg-primary text-light"> <b>Total Orders</b> </p>

        <div class="card-body text-center">

            <h2> {{ total_orders }} </h2>

        </div>

    </div>


    <div class="card m-3">

        <p class="card-header bg-primary text-light"> <b>Orders Delivered</b> </p>

        <div class="card-body text-center">

           <h2> {{ delivered }} </h2> 

        </div>

    </div>


    <div class="card m-3 ">

        <p class="card-header bg-primary text-light"> <b>Orders Pending</b> </p>

        <div class="card-body text-center">

            <h2> {{ pending }} </h2>

        </div>

    </div>

</section>

<br>

<section>

    <div class="container">

        <div class="card m-3">

            <h5 class="card-header">Customers</h5>

            <div class="card-body table-responsive">

                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr>

                            <th scope="col">Customer</th>
                            <th scope="col">Orders</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for customer in customers %}
                        <tr>

                            <td> <a href="{% url 'customer' customer.id %}">{{customer.name}}</a> </td>
                            <td>{{customer.name.orders | length}} </td>

                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <a href="#" class="btn btn-primary w-100">Create Customer</a>

            </div>

        </div>

        <div class="card m-3">

            <h5 class="card-header">Last 5 Orders</h5>

            <div class="card-body table-responsive">

                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a href="#">Update</a></td>
                            <td><a href="#">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <a href="{% url 'order_create' %}" class="btn btn-primary w-100">Create Order</a>

            </div>

        </div>

    </div>

</section>





{% endblock content %}