{% extends 'accounts/base.html' %}

{% block content %}

<div class="card card-body m-3">

    <h5>Products</h5>

</div>

<div class="card card-body m-3 ">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th> Product </th>
                <th> Category </th>
                <th> Price </th>
            </thead>

            <tbody>

                {% for product in products %}
                    <tr> 
                        <th>  {{ product.name }}  </th>
                        <th>  {{ product.category }}  </th>
                        <th>  {{ product.price }}  </th>
                    </tr> 
                {% endfor %}

            </tbody>
        </table>
    </div>
    
</div>

{% endblock content %}